<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>School | {% block title %}Home{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% include 'includes/styles.html' %}
  {% block extrastyles %}{% endblock extrastyles %}

</head>

<body class="index-page">
    {% include 'includes/header.html' %}
    {% block content %}
    {% endblock content %}
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    {% include 'includes/footer.html' %}
  <!-- Preloader -->
  <div id="preloader"></div>
  {% include 'includes/scripts.html' %}
  {% block extrascripts %}{% endblock extrascripts %}

</body>

</html>